:root{
	--mainColor:#194975;
	--secondaryColor:#10324e;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(8, 59, 106, 0.8);
	--previewShadow:#142331;


	--buttonColor:#17a2b8;


}