:root{
	--mainColor:#5ba515;
	--secondaryColor:#477b13;

	--borderColor:#353f2e;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#3f8c0f;
	--previewShadow:#385d14;


	--buttonColor:#2dc10c;


}